/* Global CSS Start */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
html {
    scroll-behavior: smooth;
}
* {
    padding: 0px;
    margin: 0px;
}
body {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 24px;
}
h1,h2,h3,h4,h5,h6,p {
    font-family: 'Lato', sans-serif;
}

a, a:hover {
    font-family: 'Lato', sans-serif;
    text-decoration: none;
}
li {
    list-style: none;
}

/* Global CSS End */


/* Header Section CSS Start */
.header-section {
    width: 100%;
}

/* Top-Header Section CSS Start */
.top-header {
    width: 100%;
    background: #f5f7fa;
}
.top-header .contact {
   width: 100%;
   padding-top: 15px;
}
.top-header .contact li {
    list-style-type: none;
    display: inline-block;
    margin-right: 25px;
}
.top-header .contact li a {
    color: #506a85;
    font-size: 13px;
    line-height: 23px;
    font-weight: 700;
}
.top-header .contact li a .svg-inline--fa{
    margin-right: 10px;
}
.top-header .contact li a:hover .svg-inline--fa {
    color: #00bc9c;
}
.top-header .social-icon {
    width: 100%;
    padding-top: 15px;
    text-align: right;
}
.top-header .social-icon li {
    list-style-type: none;
    display: inline-block;
    margin-left: 15px;
}
.top-header .social-icon li a {
    color: #506a85;
}
.top-header .social-icon li a:hover {
    color: #00bc9c;
}
/* Top-Header Section CSS End */

/* Main-menu Section CSS Start */
.main-menu {
    width: 100%;
    background-color: #fff;
}
.main-menu .navbar-expand-lg {
    padding-bottom: 15px;
}
.main-menu .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #506a85;
    font-size: 16px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    opacity: 70%;
}
.main-menu .navbar-light .navbar-nav .nav-link {
    color: #506a85;
    font-size: 16px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
}
.main-menu .navbar-light .navbar-nav .nav-link:hover {
    opacity: 70%;
}
/* Main-menu Section CSS End */


/* Banner Section CSS start */
.banner {
    width: 100%;
    padding: 183px 0px;
    background: url('../Images/banner.jpg') center top no-repeat;
    background-size: cover;
}
.banner .banner-inner {
    width: 100%;
}
.banner .banner-inner h1 {
    color: #fff;
    font-size: 70px;
    line-height: 80px;
    font-weight: 900;
    text-transform: uppercase;
}
.banner .banner-inner p {
    color: #a3b1bf;
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
    margin-bottom: 50px;
}
.banner .banner-inner .btn-info {
    background: #00bc9c;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 15px 40px;
    transition: .5s ease;
    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    -ms-transition: .5s ease;
    -o-transition: .5s ease;
}
.banner .banner-inner .btn-info:hover {
    color: #00bc9c;
    background: transparent;
    border: 1px solid #00bc9c;
}
/* Banner Section CSS End */



/* Header Section CSS End */



/* Feature Section CSS Start */
.feature {
    width: 100%;
    padding: 70px 0px 0px;
}
.feature .feature-title {
    width: 100%;
    margin-bottom: 70px;
}
.feature .feature-title h2 {
    color: #506a85;
    font-size: 40px;
    line-height: 50px;
    font-weight: 700;
    margin-bottom: 15px;
}
.feature .feature-title p {
    color: #506a85;
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
}
.feature .feature-item {
    width: 100%;
} 

.feature .feature-item .media {}
.feature .feature-item .media-body {} 
.feature .feature-item .media-body h5 {
    color: #506a85;
    font-size: 26px;
    line-height: 36px;
    font-weight: 700;
} 
.feature .feature-item .media-body p {
    color: #506a85;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
} 
/* Feature Section CSS End */


/* Work Section CSS Start */
.work {
    width: 100%;
    padding: 70px 0px;
    background: #f2f5f7;
}
.work .work-title {
    width: 100%;
    margin-bottom: 60px;
}
.work .work-title h2 {
    color: #506a85;
    font-size: 40px;
    line-height: 50px;
    font-weight: 700;
    margin-bottom: 15px;
}
.work .work-title p {
    color: #506a85;
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
}
.work .work-item {
    width: 100%;
    margin-bottom: 60px;
}
.work .work-item .card-img-top {
    position: relative;
}
.work .work-item .card-img {
    position: absolute;
    opacity: 0%;
}
.work .work-item .card:hover .card-img {
    transition: .5s ease;
    opacity: 80%;
    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    -ms-transition: .5s ease;
    -o-transition: .5s ease;
}
.work .work-item .card:hover .card-title {
    transition: .5s ease;
    color: #07b499;
}
.work .work-item .card-body .card-title {
    color: #506a85;
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
}
.work .work-item .card-body .card-text {
    color: #506a85;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
}
.work .slider {
    width: 100%;
}
.work .slider .carousel-indicators li {
    position: relative;
    background: #506a85;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    right: 0;
    left: 0;
    bottom: -55px;
    left: 0;
    z-index: 10;
    padding-top: 0px;
    color: #fff;
    text-align: center;
    padding-bottom: 0px;
    border: 1px solid #506a85;
    opacity: 100%;
    margin-right: 10px;
}
.work .slider .carousel-indicators .active {
    opacity: 100%;
    background: #00bc9c;
    border: 1px solid #00bc9c;
}
.work .slider .carousel-item img {
    margin-right: 7px;
}
.work .slider .carousel-item .figure-img {
    position: relative;
}
.work .slider .carousel-item img:last-child {
    margin-right: 0px;
}
.work .slider .carousel-item .img-over p {
    color: #fff;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
}
/* Work Section CSS End */


/* Touch Section CSS Start */
.touch {
    width: 100%;
    padding: 60px 0px 70px;
}
.touch .touch-title {
    width: 100%;
}
.touch .touch-title h2 {
    color: #73879c;
    font-size: 40px;
    line-height: 50px;
    font-weight: 700;
    margin-bottom: 15px;
}
.touch .touch-title p {
    color: #73879c;
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    margin-bottom: 35px;
}
.touch .touch-title .btn-info {
    background: #00bc9c;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 15px 35px;
    transition: .5s ease;
    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    -ms-transition: .5s ease;
    -o-transition: .5s ease;
}
.touch .touch-title .btn-info:hover {
    color: #00bc9c;
    background: transparent;
    border: 1px solid #00bc9c;
}
/* Touch Section CSS End */



/* Footer Section CSS Start */
.footer-section {
    width: 100%;
}
.main-footer {
    width: 100%;
    padding: 70px 0px;
    background: #2f4052;
}
.main-footer .item-1 {
    width: 100%;
}
.main-footer .item-1 h5 {
    color: #fff;
    font-size: 16px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 25px;
    letter-spacing: 2px;
}
.main-footer .item-1 img {}
.main-footer .item-1 p {
    color: #a3b1bf;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    margin-top: 20px;
}
.main-footer .item-1 .btn {
    color: #a3b1bf;
    font-size: 16px;
    line-height: 26px;
    font-weight: 700;
    margin-left: 0px;
    padding-left: 0px;
    margin-top: 0px;
    padding-top: 0px;
}
.main-footer .item-1 .btn:hover {
    opacity: 70%;
}
.main-footer .item-1 a .svg-inline--fa.fa-w-14 {
    width: 1em;
    padding-top: 3px;
}
.main-footer .item-2 {
    width: 100%;
}
.main-footer .item-2 h5 {
    color: #fff;
    font-size: 16px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 25px;
    letter-spacing: 2px;

}
.main-footer .item-2 .image-item {
    width: 100%;
    float: left;
    
}
.main-footer .item-2 .image-item .image-left {
    width: 48%;
    float: left;
}
.main-footer .item-2 .image-item .image-right {
    width: 48%;
    float: right;
}
.main-footer .item-2 .image-item .figure-img {
    margin-bottom: 8%;
}

.main-footer .item-3 {
    width: 100%;
}
.main-footer .item-3 h5 {
    color: #fff;
    font-size: 16px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 25px;
    letter-spacing: 2px;
}
.main-footer .item-3 p {
    color: #a3b1bf;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    margin-top: 20px;
}
.main-footer .item-3 h6 {
    color: #a3b1bf;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
}
.main-footer .item-3 h6:hover .svg-inline--fa {
    color: #00bc9c;
}
.main-footer .item-3 .svg-inline--fa {
    width: 15px !important;
    margin-right: 10px;
}
.main-footer .item-4 {
    width: 100%;
}
.main-footer .item-4 h5 {
    color: #fff;
    font-size: 16px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 25px;
    letter-spacing: 2px;
}
.main-footer .item-4 p {
    color: #a3b1bf;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    margin-top: 20px;
}
.main-footer .item-4 .input-group {
    background: #4e5c6c;
    border: 1px solid #4e5c6c;
    border-radius: 4px;
}
.main-footer .item-4 .input-group input[type=text] {
    background: #4e5c6c;
    border: 1px solid #4e5c6c;
    border-radius: 4px;
    width: 100%;
    height: auto;
    font-size: 12px;
}
.main-footer .item-4 .input-group input[type=text]:focus {
    background-color: transparent;
    border-color: transparent;
    outline: 0;
    box-shadow: 0 0 0 0.1rem #4e5c6c;
}
.main-footer .item-4 .input-group .input-group-append .btn {
    font-size: 14px;
    width: 100%;
    text-transform: uppercase;
    color: #fff;
    background: #00bc9c;
    margin: 5px;
    border: 1px solid #00bc9c;
    border-radius: 4px;
    padding: 5px;
}
.main-footer .item-4 .input-group .input-group-append .btn:hover, .main-footer .item-4 .input-group .input-group-append .btn:focus {
    background: transparent;
    color: #00bc9c;
}
.main-footer .item-4 .input-group .form-control {
    height: auto!important;
}


/* Bottom-footer Section CSS Start */
.bottom-footer {
    width: 100%;
    padding: 20px 0px 10px;
    background: #283645;
    position: relative;
}
.bottom-footer .left-footer {
    width: 100%;
}
.bottom-footer .left-footer p {
    color: #707e8c;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    margin-top: 8px;
}
.bottom-footer .right-footer {
    width: 100%;
}
.bottom-footer .right-footer .active {
    opacity: 70%;
}
.bottom-footer .right-footer .nav-link {
    color: #707e8c;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
}
.bottom-footer .right-footer .nav-link:hover {
    opacity: 70%;
}
/* Bottom-footer Section CSS End */


/* Scroll Section */
.scroll {
    position: absolute;
    right: 20px;
    bottom: 19px;
}
.scroll .btn-primary {
    color: #949ba2;
    border: 1px solid #3c5065;
    background: #3c5065;
}
.scroll .btn-primary:hover, .scroll .btn-primary:focus {
    background: transparent;
}

/* Footer Section CSS End */




/* Stick Up CSS Start */
.isStuck{
    left:0px;
    width:100%;
    background: #f5f7fa;
}
.navbar-wrapper {
    width: 100%;
    margin-top: 0px;
    position: relative;
    z-index: 15;
}

/* Stick Up CSS End */